<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<link href="/assets/style.css" rel="stylesheet">

<p id="notice"><%= notice %></p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">

    <div class="panel-heading" role="tab" id="headingOne"><center><strong class="panel-title h-arrow">Listing Users</center><span title="Create New User"><%= link_to '<i class="fa fa-plus"></i>'.html_safe,new_user_path,:class=>"icon-button-red", :style=>"text-align:right; background-color:white; color:green;float:right;"%></span></strong></div>

    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

      <div class="table-container">

        <table class="table tab-container">
     
          <thead class="tab-header blue" style="background-color: #0288d1;">
        
            <tr>
    <tr>
      <th>Company Name</th>
      <th>Warehouse Name</th>
      <th>Role</th>
      <th>First name</th>
      <th>Last name</th>
      <th>User name</th>
      <th>Password</th>
      <th>Email</th>
      <th>Telephone Number</th>
      <th>Mobile Number</th>
      <th>Address</th>
      <th>Post Code</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
       <th colspan="3"><center>Action</center></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
        <%unless Role.find(user.role_id).role_type=="Super Admin"%>
      <tr>
        <td><%= Company.find(Warehouse.find(user.warehouse_id).company_id).company_name %></td>
        <td><%= Warehouse.find(user.warehouse_id).warehouse_name %></td>
        <td><%= Role.find(user.role_id).role_type %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.user_name %></td>
        <td><%= user.password %></td>
        <td><%= user.contact.email %></td>
        <td><%= user.contact.telephone_number %></td>
        <td><%= user.contact.mobile_number %></td>
        <td><%= user.address.address1 %></td>
        <td><%= user.address.post_code %></td>
        <td><%= user.address.city %></td>
        <td><%= user.address.state %></td>
        <td><%= user.address.country %></td>
       
         <td><%= link_to "<i class='fa fa-eye' aria-hidden='true'></i>".html_safe, user,:class=>"btn-sm btn-default",:title=>"Show #{user.user_name}"%></td>
        
                <td><%= link_to "<i class='fa fa-pencil' aria-hidden='true'></i>".html_safe, edit_user_path(user),:class=>"btn-sm btn-default",:title=>"Edit #{user.user_name}" %></td>
        
                <td><%= link_to "<i class='fa fa-trash-o' aria-hidden='true'></i>".html_safe, user, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn-sm btn-default",:title=>"Delete #{user.user_name}" %></td>

              </tr>
    
            <% end %><%end%>
  
          </tbody>

        </table>

      </div>

    </div>

  </div>

</div>
