<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<link href="/assets/style.css" rel="stylesheet">

<p id="notice"><%= notice %></p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">

    <div class="panel-heading" role="tab" id="headingOne">

      <strong class="panel-title h-arrow">Listing Warehouses</strong>

        <%= link_to '<i class="fa fa-hand-o-right"></i>'.html_safe,warehouses_path,:class=>"icon-button-red", :style=>"text-align:right; background-color:white; color:green;float:right;"%>

        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe,edit_warehouse_path(@warehouse),:class=>"icon-button-red", :style=>"text-align:right; background-color:white; color:green;float:right;"%>

    </div>

    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

      <div class="table-container">

        <table class="table tab-container">
     
          <thead class="tab-header blue" style="background-color: #8b269f;">
        
            <tr>
      
             <th>Warehouse name</th>
      
              <th>Email</th>

              <th>Company Name</th>
      
              <th>Telephone Number</th>
      
              <th>Mobile Number</th>
      
              <th>Address</th>
      
              <th>Post Code</th>
      
              <th>City</th>
      
              <th>State</th>
      
              <th>Country</th>
    
            </tr>
  
          </thead>

           <tbody>
         
         <tr>

  <td><%= @warehouse.warehouse_name %></td>

 <td> <%= @warehouse.contact.email %></td>

  <td> <%= Company.find(@warehouse.company_id).company_name %></td>

  <td><%= @warehouse.contact.telephone_number %></td>

  <td><%= @warehouse.contact.mobile_number %></td>

  <td><%= @warehouse.address.address1 %></td>

  <td><%= @warehouse.address.post_code %></td>

 <td> <%= @warehouse.address.city %></td>

 <td> <%= @warehouse.address.state %></td>

  <td><%= @warehouse.address.country %></td>
      

              </tr>
    
          </tbody>

        </table>

      </div>

    </div>

  </div>

</div>

